@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
.eng{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    color: white;
}
.social{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.chem{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.break{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.th{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.math{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.crime{
    background-color: blueviolet;
    font-size: 40px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 20px;
}
.menu{
    background-color: white;
    margin-bottom: 0;
    height: 90px;
    border: solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: sticky;
    bottom: 0;
}
.Schedule{
    color: black;
    font-size: 50px;
    position: relative;
    left: 150px;
    top: 10px;
    text-decoration: none;
}
.Schedule:hover::after{
    width: 100%;
}
.Schedule::after{
    content: "";
    position: absolute;
    border-radius:inherit;
    width: 10%;
    height: 5%;
    background: #000; 
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
    left:50%;
    transform: translateX(-50%);

}
.Task{
    color: #000;
    font-size: 50px;
    position: relative;
    left: 300px;
    top: 15px;
    text-decoration: none;
}
.Task:hover::after{
    width: 100%;
}
.Task::after{
    content: "";
    position: absolute;
    border-radius:inherit;
    width: 10%;
    height: 5%;
    background: #000; 
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
    left:50%;
    transform: translateX(-50%);
}